<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      body {
        background-image: url('/images/background3.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
      }

      h1 {
        color: white;
        text-align: center;
        -webkit-text-stroke: 1px blue;
      }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Cart</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <%- include('partials/_navbar', {title: 'Cart'}) %>
    <div class="container p-5">
      <div class="row">
        <% if(cart.length > 0){ %> <% cart.map((item) => { %>
        <div class="col-4">
          <div class="card" style="width: 16rem">
            <img
              src="<%=item.img%>"
              class="card-img-top img-fluid"
              alt="<%=item.name%>"
              height="40"
              width="30"
            />
            <div class="card-body">
              <h5 class="card-title"><%=item.name%></h5>
              <p class="card-text"><%= item.description %></p>
              <button
                onclick="location.href='/item/<%=item._id%>' "
                id="<%=item.name%>"
                class="btn btn-secondary"
              >
                View
              </button>
            </div>
          </div>
        </div>
        <% }); %> <% } else { %>
        <div class="col-12">
          <h1>No Items in cart</h1>
        </div>
        <%}%>
      </div>
    </div>
  </body>
</html>
