<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      body {
        background-image: url('/images/background3.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
      }
      .card-body {
        position: relative;
        height: 100%;
      }
      .card-btn {
        position: absolute;
        bottom: 0.8rem;
        left: 1rem;
      }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Cart</title>
    <%- include('partials/_head') %>
  </head>
  <body>
    <%- include('partials/_navbar') %>
    <div class="container p-4">
      <div class="display-5 text-white mb-3">Cart</div>
      <div class="row gx-3">
        <% if(cart.length > 0){ %> <% cart.map((item) => { %>
        <!-- <div class="col-4">
          <div class="card" style="width: 16rem">
            <img
              src="<%=item.img%>"
              class="card-img-top img-fluid"
              alt="<%=item.name%>"
              height="40"
              width="30"
            />
            <div class="card-body">
              <h5 class="card-title"><%=item.name%></h5>
              <p class="card-text"><%= item.description %></p>
              <button
                onclick="location.href='/item/<%=item._id%>' "
                id="<%=item.name%>"
                class="btn btn-secondary"
              >
                View
              </button>
            </div>
          </div>
        </div> -->
        <div class="col-md-6">
          <div class="card mb-3 p-2">
            <div class="row g-0">
              <div class="col-md-4 text-center">
                <img
                  src="<%=item.img%>"
                  class="rounded-start"
                  alt="<%=item.name%>"
                  height="200"
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h4 class="card-title"><%= item.name %></h4>
                  <p class="card-text">
                    <small class="text-muted"
                      >Category: <%= item.category %>
                    </small>
                  </p>
                  <%= item.description.length > 100 ?
                  item.description.substring(0, 80) + "...." : item.description
                  %>
                  <a href="" class="btn btn-primary card-btn">View Item</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% }); %> <% } else { %>
        <div class="col-12">
          <h1 class="display-5">No Items in cart</h1>
        </div>
        <%}%>
      </div>
    </div>
    <script></script>
  </body>
</html>
