<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      body {
        background-image: url('/images/background3.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;
      }
      /*
      .cont {
        position: relative;
        left: 600px;
        top: 50px;
        color: white;
        -webkit-text-stroke: 0.5px black;
      }
      .container1 {
        position: fixed;
        left: 50px;
        top: 150px;
        color: white;
      }
      .container2 {
        position: fixed;
        left: 200px;
        top: 150px;
        color: white;
      }
      .container3 {
        position: fixed;
        left: 350px;
        top: 150px;
        color: white;
      }
      .cart {
        position: fixed;
        left: 80px;
        top: 370px;
      }*/
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <%- include('partials/_head') %>
    <title>Store Categories| GoShop</title>
  </head>

  <body>
    <%- include('partials/_navbar', {title: 'GoShop'}) %>
    <div class="container">
      <h1 class="text-white display-3 text-center m-3">Welcome</h1>

      <!-- Starting from here -->
      <div class="container">
        <div class="row justify-content-center">
          <% categories.map((category, index) => { %> <% console.log(category)
          %>
          <!-- <div class="container<%= index+1 %>">
          <img id="image" src="<%=category.img%>" width="100" height="100" />
          <br />
          <label class="ml-4 my-2"><%= category.name %></label>
          <br />
          <button
            onclick="location.href = '/category/<%= category.name%>';"
            id="<%= category.name%>"
            class="btn btn-secondary ml-3"
          >
            View
          </button>
        </div> -->

          <div class="col-md-3 col-sm-6 m-2">
            <div class="card text-center" style="max-width: 18rem">
              <img
                src="<%=category.img%>"
                class="card-img-top"
                alt="<%= category.name%>"
              />
              <div class="card-body">
                <h5 class="card-title"><%= category.name.toUpperCase() %></h5>

                <button
                  onclick="location.href = '/category/<%= category.name%>';"
                  id="<%= category.name%>"
                  class="btn btn-success ml-auto w-100 mt-2"
                >
                  View
                </button>
              </div>
            </div>
          </div>
          <% }); %>
        </div>
        <!-- <div class="cart">
          <button
            onclick="location.href = '/cart';"
            id="cart"
            class="btn btn-secondary ml-3"
            style="width: 300px"
          >
            Cart
          </button>
        </div> -->
      </div>
    </div>
  </body>
</html>
