<!-- TODO: ADD VIDEO LINKS -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      body {
        background-image: url('/images/background3.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;
        position: relative;
      }
      #alert {
        max-width: 300px;
        position: absolute;
        top: 60px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
      }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= item.name %></title>
    <%- include('partials/_head') %>
  </head>

  <body>
    <%- include('partials/_navbar', {title: 'Items'}) %>
    <div class="container text-white p-4">
      <div
        class="alert alert-danger message-box"
        width="200"
        id="alert"
        style="max-width: 16rem"
      ></div>
      <div class="display-5"><%=item.name %></div>
      <div class="row mt-4">
        <div class="col-md-3">
          <img id="image" src="<%= item.img %>" width="193" height="300" />
        </div>
        <div class="col-md-4">
          <div class="container2"><%= item.description %></div>
          <div class="cart">
            <button
              id="cart"
              class="btn btn-primary ml-3"
              onclick="addToCart('<%= item._id %>')"
            >
              <i class="fas fa-cart-plus">&nbsp;</i>
              Add to Cart
            </button>
          </div>
        </div>
        <div class="video col-md-5">
          <iframe
            width="560"
            height="315"
            src="<%= item.video %>"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>

    <script>
      const message = document.getElementById('alert');
      message.style.display = 'none';
      const addToCart = async (itemId) => {
        try {
          const res = await axios({
            url: '/cart',
            method: 'POST',
            data: { item: itemId },
          });
          console.log(res.status);
          if (res.status === 200) {
            message.style.display = 'block';
            message.innerHTML =
              '<i class="far fa-check-circle">&nbsp;</i>  Item Added Successfully !';
            message.classList = 'alert alert-success';
            setTimeout(() => {
              message.style.display = 'none';
            }, 2000);
          }
        } catch (e) {
          console.log(e);
          message.style.display = 'block';
          message.innerHTML =
            '<i class="far fa-times-circle">&nbsp;</i> Item Already in cart !';
          message.classList = 'alert alert-danger';
          setTimeout(() => {
            message.style.display = 'none';
          }, 2000);
        }
      };
    </script>

    <script src="./node_modules/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </body>
</html>
