<!-- TODO: ADD VIDEO LINKS -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      body {
        background-image: url('/images/background3.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
      }
      h1 {
        color: white;
        text-align: center;
        -webkit-text-stroke: 1px blue;
      }
      .container1 {
        position: fixed;
        left: 50px;
        top: 150px;
        color: white;
      }
      .container2 {
        position: fixed;
        left: 300px;
        top: 150px;
        color: white;
        width: 300px;
        text-align: justify;
        text-justify: inter-word;
      }
      .video {
        position: fixed;
        left: 700px;
        top: 150px;
        color: white;
        width: 300px;
        text-align: justify;
        text-justify: inter-word;
      }
      .cart {
        position: fixed;
        left: 30px;
        top: 470px;
      }
      #my {
        zoom: 110%;
      }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Galaxy S21 Ultra</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <%- include('partials/_navbar', {title: 'Items'}) %>
    <div class="container1">
      <img id="image" src="<%= item.img %>" width="193" height="300" />
    </div>
    <div class="container2"><%= item.description %></div>
    <div class="cart">
      <button
        id="cart"
        class="btn btn-secondary ml-3"
        onclick="addToCart('<%= item._id %>')"
      >
        Add to Cart
      </button>
    </div>
    <div class="video">
      <iframe
        width="560"
        height="315"
        src="<%= item.video %>"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>

    <div class="alert alert-danger" width="200" id="alert"></div>

    <script>
      const message = document.getElementById('alert');
      message.style.display = 'none';
      const addToCart = async (itemId) => {
        try {
          const res = await axios({
            url: '/cart',
            method: 'POST',
            data: { item: itemId },
          });
          console.log(res.status);
          if (res.status === 200) {
            message.style.display = 'block';
            message.innerHTML = 'Item Added Successfully !';
            message.classList = 'alert alert-success';
            setTimeout(() => {
              message.style.display = 'none';
            }, 2000);
          }
        } catch (e) {
          console.log(e);
          message.style.display = 'block';
          message.innerHTML = 'Item Already in cart !';
          message.classList = 'alert alert-danger';
          setTimeout(() => {
            message.style.display = 'none';
          }, 2000);
        }
      };
    </script>

    <script src="./node_modules/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </body>
</html>
