<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      body {
        background-image: url('/images/background3.jpg');
        background-repeat: no-repeat;
        background-size: cover;
      }

      .card-btn {
        position: absolute;
        bottom: 0.8rem;
        left: 1rem;
      }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Search Results</title>
    <%- include('partials/_head') %>
  </head>
  <body>
    <%- include('partials/_navbar', {title: 'Search Results'}) %>
    <div class="container p-5">
      <div class="row gx-3">
        <% if(results.length > 0){ %> <% results.map((item) => { %>
        <div class="col-md-6">
          <div class="card mb-3 p-2">
            <div class="row g-0">
              <div class="col-md-4 text-center">
                <img
                  src="<%=item.img%>"
                  class="rounded-start"
                  alt="<%=item.name%>"
                  height="200"
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h4 class="card-title"><%= item.name %></h4>
                  <p class="card-text">
                    <small class="text-muted"
                      >Category: <%= item.category %>
                    </small>
                  </p>
                  <p class="card-text">
                    <%= item.description.length > 100 ?
                    item.description.substring(0, 80) + "...." :
                    item.description %>
                  </p>
                  <a href="" class="btn btn-primary card-btn">View Item</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% }); %> <% } else { %>
        <div class="col-12">
          <h1 class="display-5 text-center text-white">Item not found</h1>
        </div>
        <%}%>
      </div>
    </div>
  </body>
</html>
